@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Rolller</h2>

<div id="divRolller"></div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rollModal">
    Yeni Roll Ekle
</button>



<div class="modal fade" id="rollModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Roll Bilgileri</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label for="inputRollAd" class="form-label">Roll Adı</label>
                <input type="text" id="inputRolAd" class="form-control">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="RollKaydet()">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/admin/roll.js" asp-append-version="true"></script>